<div class="navtop">
  <!-- <mat-toolbar> -->
    <span>***系统后台管理</span>
    <button type="button" mat-button (click)="drawer.toggle()">
      =
    </button>
  <!-- </mat-toolbar> -->
</div>
<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="drawer-sidenav" mode="side">
    <mat-list-item>
      <a routerLink="products">商品信息</a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="products">商品信息</a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="products">商品信息</a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="products">商品信息</a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="products">商品信息</a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="products">商品信息</a>
    </mat-list-item>
  </mat-drawer>
  <div class="drawer-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container> -->
